.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6232, #f6412d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar--list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar--item{
    margin: 0 8px;
    position: relative;
    min-height: 26px; /* Giúp căn giữa đối tượng icons và chữ*/
}

.header__navbar--item,
.header__navbar--item--link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar--icon--link:hover,
.header__navbar--item:hover,
.header__navbar--item--link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar--item--strong {
    font-weight: 400;
}

.header__navbar--item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fa715d;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);

}

/************ Icons **************/
.header__navbar--icon--link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar--icon {
    font-size: 1.8rem;
}
/* Algin center icons and Words*/
.header__navbar--item,
.header__navbar--item--link,
.header__navbar--icon--link {
    display: inline-flex;
    align-items: center;
}

.header__navbar--icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/************ Header QR code **************/
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 10px;
    display: none;
    animation: fadeIN ease-out 0.3s; /* Animation bên Base.css*/
}

/* Làm cầu nối để hiện QR */
.header__qr::before {
    position: absolute;
    left: 0;
    top: -10px;
    height: 20px;
    content: "";
    width: 100%;
}

/*Chỉ định trực tiếp hover vào header__qr để show ra QR*/
.header__navbar--item--has--qr:hover .header__qr{
    display: block;
}

.header__qr--img {
    width: 100%;
}

.header__qr--apps {
    display: flex;
    justify-content: space-between;
    margin-left: 10px; /* Canh cho thẳng hàng với QR*/
    margin-right: 11px;

}

/* Cách này dùng Fix cứng*/
/* .header__qr--link:nth-child(1) {
    margin-left: 11px;
}
.header__qr--link:nth-child(2) {
    margin-right: 11px;
} */

.header__qr--download-img {
    height: 15px;
}